<ion-header-bar class="bar-stable">
  <h1 class="title">Koler</h1>
</ion-header-bar>
<ion-content class="padding" ng-controller="CallController as call_ctrl">

 <div id="textRoom" style="display: none;">
  <div id="textRoomContent">
    <h3>Text Room</h3>
  </div>
  <input id="textRoomInput" >
  <button onclick="textRoomPress();">Send</button>
</div>
<video id="selfView" autoplay></video>
<div id="remoteViewContainer"></div>
<div id="roomIDContainer">
  <input id="roomID" value="abc">
  <button onclick="press();">Join/Create room</button>
</div>

  <button class="button button-positive button-block" ng-click="join()">
    Call
  </button>
</ion-content>